                 /*******************************MONTRE********************************/
 @font-face{
src: url(fonts/Futura_Now_Free_Weights/);
font-family: futura;
                 }
 /**********************************Navbar***************************************/
body{
    overflow-x: hidden ;
    font-family: futura;
    
}
body.modnight{
    background-color: rgba(0, 0, 0, 0.897);
    color: rgb(119, 115, 115);
}
#logo{
    width: 10rem;
    height: 5rem;
}
#titre-nav{
    margin-right: 20rem;
    color: white;
}
#titre-nav1{
    
    color: white;
}
#img-navvv{
    background-color: transparent;
font-family: futura;
font-size: 22px;
}
#img-navv{
    background-color: black;
font-family: futura;
font-size: 22px;
}
.img-covr{
    width: 100%;
    height: 300px;
   
    margin-top: -25rem;
    z-index: -1;
}
.hr-nav{
    color: white;
     box-shadow: 1px 2px 1px 2px rgba(255, 255, 255, 0.199);
     margin-top: -1rem;
}
/*------------------------------modal--------------------------------*/
.modal{
    width: 70rem !important;
    background-color: rgba(19, 16, 16, 0.363) !important;
}
#titre-panier{
    font-size: 20px;
    justify-content: space-around;
}
#bt-modl-p{
    margin-left: 20rem;
    margin-top: -4rem;
    background-color: black;
}
.btn-commd{
    background-color: black !important;
    margin-left: 8.3rem;
}
#head-modl{
    background-color: #003a63;
}
#logo-modal{
    width: 15rem;
    height: 9rem;
    margin-top: -3rem;
    margin-bottom: -3rem;
}
.cart-col{
    display: flex;

}
#inpt-modal{
    width: 3rem;
}
/***------------------------------3 card------------------------------------------***/
.card3{
    justify-content: space-around;
}
#butt-card{
    border: 3px solid #003a63;
    border-radius: 14px;
    background-color: #f3f3f3;
}
.card{
    box-shadow: 5px 8px 8px 8px #c4c1c1c9;
    border-radius: 20px;
    width: 15rem;
    height: 30rem;
  
}
.card-title{
    font-size: 16px;
}
.card-text{
font-size: 13px;
}
.card-img-top{
    width: 12rem;
    height: 20rem;
}
#titre-card-modal{
    font-size: 15px;
    margin-top: 6rem;
    margin-left: -6rem;
    margin-bottom: 2rem;

}
#prix-{
   font-size: 15px; 
   color: black;
   margin-left: 7rem;
   margin-top: -7rem;
   margin-bottom: 3rem;
   
}
.cart-quantity-input{
    margin-left: 14rem;
    margin-top: -5rem;
    height: 1.7em;
}
#bt-modlpan{
    margin-left: 5.5rem;
    margin-top: -5rem;
    height: 2.5em;
}
#img-modl{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -7.5rem;
    width: 15rem;
    height: 10rem;
    margin-left: 12.5rem;
    border-bottom: 2px solid rebeccapurple;
}

#titre-modl-top{
    color: #003a63;
    font-size: 25px;
   margin-top: 2rem;
}
/***********************************************************************/
/*----------------------------------------Footer--------------------------------*/
footer{
    margin-top: 30rem;
    background-color: #f3f3f3
    ;
padding: 2rem;
}
#parg-footr{
    text-align: center;
    font: 12px/18px Georgia;
}
#logo-footer{
    width: 15rem;
    height: 9rem;
    margin-top: -2.5rem;
}
#par-msg{
  
    font: 12px/18px Georgia;
    font-weight: 400;
    color: #656565;
}
#val{
    border-radius: 50%;
    background-color: white;
    color: black;
    width: 5px;
    height: 1px;
    padding: 5px;

}
.search-box{
    width: 13rem;
    font-size: 14px;

}
#res-sos-tot{
    display: inline-grid;

}
#res-sos{
   
    margin-left: 9rem;  
}
#map-fot{
    margin-right: 5rem;
}
.Recaptcha{
   margin-top: 3rem;
   width: 15rem !important;
   height: 8rem !;
}
/***--------------------------------------------------panier--------------------------------*/
.bbcc{
background-color: #003a63;
color: white;
padding: 1rem;
border-top-left-radius: 16px;
border-top-right-radius: 16px;
}

